
#secondaryButton{
    background-color: #FFFF;
    color: #055973;
    border-radius: 10px;
    padding: 5px 18px 5px 18px;
    height: 40px;
    width: 178px;
    font-weight: 700;
    border: none;
}