.container-loading{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

html, body{
    height: 100%;
    width: 100%; 
}

#img-loading {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
    animation: spin 2s linear infinite; /* Chama a animação */
}

/* Define a animação de rotação */
@keyframes spin {
    0% {
        transform: scale(1); /* Início da rotação */
    }
    100% {
        transform: scale(2.5); /* Final da rotação */
    }
}