.container-button-header{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-button-header button{
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.container-button-header button:hover{
    background-color: #055973;
    transform: scale(1.05);
    h2{
        color: white;
    }
}

.container-button-header button.active {
    background-color: #055973;
    h2{
        color: white;
    }
}




h2{
    color: #055973;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 950px) {
    #h2-button-header{
        font-size: 8px;
    }
}
@media (min-width: 951px) {
    #h2-button-header{
        font-size: 15px;
    }
}

@media (min-width: 991px) {
    #h2-button-header{
        font-size: 20px;
    }
}
@media (min-width: 1890px) {
    #h2-button-header{
        font-size: 30px;
    }
}