.container-button-header{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    color: #055973;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 779px) {
    h2{
        font-size: 8px;
    }
}

@media (min-width: 790px) {
    h2{
        font-size: 20px;
    }
}
@media (min-width: 1400px) {
    h2{
        font-size: 30px;
    }
}