.container-card {
    width: 330px;
    height: 410px;
    margin: 50px;
    padding-top:18px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.808);
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container-card:hover{
    transform: scale(1.05);
}

.container-card img {
    width: 90%;
    margin-top:30px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

#text-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
    height: 10%;
}

article>h4{
    width: 100%;
    padding-right: 50px;
    text-align: end;
    color: #055973;
}

.container-card h2, .container-card h4 {
    margin: 5px 0;
    font-weight: 500;
}

.container-card h4 {
    color: #055973;
    cursor: pointer;
}


